@import "utils/estilos/cores.scss";

.pagina-login {
  &.conteudo {
    display: grid;
    place-items: center;
    height: 100vh;
    .login {
      background-color: $cor-background-card-principal;
      padding: 2rem 7rem;
      border-radius: 24px;
      box-shadow: 0 4px 4px $cor-sombra-principal;
      .inputs {
        margin-bottom: 2rem;
        .caixa__input {
          display: flex;
          flex-direction: column;
          margin-bottom: 0.7rem;
          label {
            font-size: 0.9rem;
            margin-bottom: 0.3rem;
            font-weight: 600;
          }
          input {
            border: 1px solid $cor-background-principal;
            border-radius: 8px;
            height: 48px;
            padding-left: 10px;
          }
        }
      }
      button {
        width: 100%;
        height: 48px;
        padding-left: 10px;
        background-color: $cor-background-principal;
        border-radius: 8px;
        border: none;
        color: $cor-branco;
        font-weight: 600;
        font-size: 0.9rem;
        cursor: pointer;
        transition: 0.3s all ease;
        &:hover {
          box-shadow: 4px 4px 12px $cor-background-principal;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .pagina-login.conteudo {
    .login {
      padding: 2rem 2rem;
    }
  }
}
