@import "utils/estilos/cores.scss";

.caixa__botao {
  background-color: $cor-background-principal;
  color: $cor-branco;
  font-weight: 600;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  height: 48px;
  margin-bottom: 1rem;
  border: 1px solid $cor-background-principal;
  display: grid;
  grid-template-columns: 0 1fr;

  input {
    width: 0;
    border: none;
    opacity: 0;
    visibility: hidden;
    height: 46px;
    border-radius: 8px;
    padding-left: 10px;
  }

  &.mostrar {
    grid-template-columns: 5fr 1fr;
    input {
      width: 100%;
      opacity: 1;
      visibility: visible;
      transition: 0.3s all ease;
    }
  }

  button[type="submit"] {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 980px) {
  .caixa__botao {
    height: unset;
    &.mostrar {
      grid-template-columns: 1fr;
    }
    button[type="submit"] {
      height: 46px;
    }
  }
}
