$cor-primaria: #2d4044;
$cor-box-sub-titulo: #b3e2e8;
$cor-background-card-principal: #fbfcfc;
$cor-sombra-principal: rgba(45, 64, 68, 0.12);
$cor-background-card-dia: #f0f0f0;
$cor-background-principal: #188fa6;
$cor-icon-lixo: #dc0a2d;
$cor-branco: #fff;